[submodule "RPG Project/Assets/Thirdparty"]
	path = RPG Project/Assets/Thirdparty
	url = C:\\Users\\Samuel Pattuzzi\\Documents\\Courses\\RPG\\Asset Pack
[submodule "Asset Pack"]
	path = Asset Pack
	url = C:\\Users\\Samuel Pattuzzi\\Documents\\Courses\\RPG\\Asset Pack
